# Project: Finja - Twitch Interactivity Suite
# Module: finja-chat / .env.example
# Author: J. Apps (JohnV2002 / Sodakiller1)
# Version: 2.4.1
# Description: Safe Spotify song-request environment template.
# New in v2.4.1: Module version aligned; no Twitch secret is persisted.
# Copyright (c) 2026 J. Apps — Licensed under the MIT License.

SPOTIPY_CLIENT_ID=Deine_id
SPOTIPY_CLIENT_SECRET=Dein_secret
SPOTIPY_REDIRECT_URI=https://127.0.0.1:8080/callback
SR_COOLDOWN_SECS=120
SR_FORCE_NOW=false
SR_MAX_PENDING_PER_USER=1
SR_MODERATED=false
SR_MIN_POPULARITY=15
