name: Music Docker Build Check

on:
  push:
    paths:
      - 'Finja-music/finja-music-docker-spotify/**'
  pull_request:
    paths:
      - 'Finja-music/finja-music-docker-spotify/**'

jobs:
  docker-build-only:
    runs-on: ubuntu-latest
    
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      # Wir bauen nur das Image. Wenn das klappt, ist die Syntax & Python-Version okay.
      - name: Build Docker image
        working-directory: ./Finja-music/finja-music-docker-spotify
        run: docker build . --file Dockerfile --tag finja-music:check